@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary: #f8f418;
  --accent: #17181a;
}

body {
  font-family: "Poppins", sans-serif;
  text-decoration: none;
  list-style: none;
  position: relative;
  background: var(--accent);
  color: white;
  overflow-x: hidden;
}
main {
  width: 100%;
  height: 100%;
  position: absolute;
}
.nav-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem;
}

.nav-header h1 {
  z-index: 3;
}

.logo {
  font-size: 1.5rem;
  z-index: 2;
}

.burger {
  margin-right: 7%;
  z-index: 3;
  cursor: pointer;
}

.text {
  opacity: 0;
  transform: translateY(300px);
}

.line1,
.line2,
.line3 {
  width: 3.5rem;
  height: 0.17rem;
  background-color: var(--primary);
  margin: 0.5rem;
  border-radius: 10px;
  pointer-events: none;
}

.slide {
  min-height: 100vh;
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1rem auto 0 auto;
}

.animation-slide {
  min-height: 100vh;
  width: 90%;
  margin: 0.4rem auto;
  text-align: center;
  font-size: 3rem;
  color: aqua;
  font-weight: 600;
}

.text {
  margin: 0.5rem;
}

.text2 img {
  border-radius: 50%;
  border: 5px solid aqua;
  width: 250px;
  height: 250px;
  object-fit: cover;
}

.tech-image img {
  width: 45rem;
  height: 100%;
  object-fit: cover;
}

.tech-icons {
  list-style: none;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.img {
  width: 5rem;
  margin-left: 0.5rem;
  cursor: pointer;
}

.html-image {
  width: 4rem;
  margin-top: 0.5rem;
}

.sql-image {
  background-color: white;
  border-radius: 70px;
}

.tech-desc {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
  flex-basis: 25rem;
  flex-direction: column;
  margin-left: 2.5rem;
  height: 30rem;
}
.tech-header h2 {
  font-size: 4rem;
  /* margin-top: -15%; */
  color: white;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
  margin-bottom: 2.4rem;
}

.tech-header h2:hover {
  color: var(--primary);
}
.tech-para {
  font-size: 1.5rem;
}

.tech-logo {
  margin-top: 3rem;
}

.project-image img {
  width: 45rem;
  height: 30rem;
  object-fit: cover;
}

.project-desc {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
  flex-basis: 25rem;
  flex-direction: column;
  margin-left: 2.5rem;
  height: 30rem;
}

.project-header h2 {
  font-size: 4rem;
  color: white;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
  margin-bottom: 1.5rem;
}

.project-header h2:hover {
  color: var(--primary);
}
.project-para {
  font-size: 1.5rem;
}

.explore {
  border: 1px solid white;
  margin-bottom: 3rem;
  padding: 1.5rem 2rem;
  border-radius: 20px;
  text-decoration: none;
  color: white;
}

.blog-image img {
  width: 45rem;
  height: 30rem;
  object-fit: cover;
}

.blog-desc {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
  flex-basis: 25rem;
  flex-direction: column;
  margin-left: 2.5rem;
  height: 30rem;
}

.blog-header h2 {
  font-size: 4rem;
  color: white;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}

.blog-header h2:hover {
  color: var(--primary);
}
.blog-para {
  font-size: 1.5rem;
}

.nav-bar {
  width: 100%;
  height: 102%;
  top: -17px;
  left: 0;
  position: fixed;
  background-color: black;
  color: white;
  z-index: 2;
  opacity: 0.92;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  clip-path: circle(50px at 50% -10%);
}

.options {
  margin-top: 9%;
  list-style: none;
  font-size: 3.5rem;
  text-align: center;
}

.options a {
  text-decoration: none;
  color: white;
}
.options h3 {
  margin: 1.5rem auto;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.options h3:hover {
  color: var(--primary);
}

.scrollmagic-pin-spacer {
  height: 581px;
  position: static !important;
}

.cursor {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  border: 1px solid white;
  position: absolute;
  transform: translate(-30%, -80%);
  pointer-events: none;
  transition: all 0.3s ease-in-out;
  transition-property: background, transform;
  z-index: 3;
}

.cursor-active {
  transform: scale(1.5) translate(-30%, -50%);
  background: aqua;
  opacity: 0.7;
  z-index: 3;
}

.cursor-exp-active {
  transform: scale(2) translate(-30%, -50%);
  background: var(--primary);
  opacity: 0.9;
  z-index: 3;
}

.cursor-text {
  color: black;
  font-size: 0.5rem;
  margin-left: 0.5rem;
  z-index: 3;
}

.hide {
  overflow: hidden;
}

.project-animation-slide {
  width: 100%;
  height: 8rem;
  text-align: center;
  font-size: 3rem;
  font-weight: 600;
  margin: 3rem auto;
  color: aqua;
}

.tile {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  margin: 2rem;
}

.project-tiles {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1rem auto;
  position: relative;
}

.tile img {
  height: 20rem;
  width: 95%;
  object-fit: cover;
  margin: 0rem 1rem;
}
.tile-img {
  width: 50%;
  height: 100%;
}

.img-cover {
  position: absolute;
  width: 45.5%;
  height: 82%;
  background-color: black;
  opacity: 0;
  top: 32px;
  margin-left: 1rem;
  transition: all 0.3s ease-in-out;
}

.img-cover h1 {
  margin-top: 20%;
  margin-left: 1rem;
  color: yellow;
  font-size: 2.5rem;
  font-weight: bolder;
}

.img-cover p {
  margin-left: 1rem;
  margin-bottom: 1rem;
}

.linkP,
.linkS {
  text-decoration: none;
  color: white;
  border: 1px solid white;
  margin-left: 1rem;
  padding: 0.5rem;
  border-radius: 10px;
  transition: all 0.5s ease-in-out;
}

.img-cover a:hover {
  background: var(--primary);
  color: var(--accent);
}

.image-cover-active {
  opacity: 0.8;
}

@keyframes animate {
  0% {
    transform: translateY(300px) scale(2.5);
    opacity: 0;
  }

  50% {
    transform: translateY(0px) scale(1);
    opacity: 1;
  }

  100% {
    transform: translateY(0px) scale(1);
    opacity: 1;
  }
}

@keyframes animate1 {
  0% {
    transform: translateY(10px) scale(1.1);
  }
  50% {
    transform: translateY(0px) scale(1);
  }
  100% {
    transform: translateY(10px) scale(1.1);
  }
}
